
.main-container{
  background-color: rgba(0, 0, 0, 0.601);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}
.container{
  height: 150px;
  width: 150px;
border-radius: 50%;
animation: myspin 1.5s  infinite linear;
border-top: 10px solid white;
border-bottom: 10px solid black;
}

@keyframes myspin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}